<div>
    <h3 style="margin: 25px 0;">Дни месяца</h3>
    <table cellspacing="5" cellpadding="5" border="1px solid #399">
        <thead>
            <tr>
                {% for headerName in headers %}
                    <th>{{ headerName }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for rowData in table_content %}
            <tr style="padding: 10px">
                {% for headerKey, headerName in headers %}
                    <td>{{ rowData[headerKey] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
